*{
	/*CSS reset */
	padding:0;
	margin:0;
}

body{
	background-color: #689;
}

h1{
	color: white;
	text-align: center;
}
	
#wrapper{
	width:350px;
	padding: 30px;
	margin: 10px auto;
	background-color: white;
	border-radius: 10px;
}

#wrapper > div{
	border: 1px solid black;
	margin-left:10%;
	margin-bottom: 15px;
	border-radius: 6px;
	padding:6px;
	width: 80%;
}

input{
	border:none;
	outline: none;

}

#wrapper div div:first-of-type{
	background-image: url(icons.png);
	width: 16px;
	height: 16px;
}

#wrapper div div{
	display:inline-block;
}

#wrapper >div:nth-of-type(1)> div{
	background-position-x:-144px ;
	background-position-y: -96px;
}

#wrapper >div:nth-of-type(2)> div{
	background-position-x:-192px ;
	background-position-y: -96px;
}

#wrapper >div:nth-of-type(3)> div{
	background-position-x:-64px ;
	background-position-y: -144px;
}
