#wrapper{
	/*text-align:center;*/
	border:1px solid #555;
	margin:20px auto;
	padding:20px;
	width:300px;
	background-color:#8F8;
	display: grid;
	/*width: fit-content; in alternativa si può impostare un valore fisso: width=350px*/
	grid-template-columns: 120px auto; /* auto = 350px – 160px */
	grid-template-rows: 25px 25px 25px 25px;
	grid-column-gap:8px;
	grid-row-gap:5px;
}

#wrapper label{
	text-align:right;
}

#wrapper input{
	width:120px;
}
